@using System.Net.Http
@using System.Net
@using static System.Console

@inject IHttpClientFactory httpClientFactory
@{
    ViewData["Title"] = "Home Page";
}

@{
    string result = string.Empty;
    try
    {
        // Get client from httpClient factory
        var client = httpClientFactory.CreateClient(name: "TemperatureMonitor");

        // Create request
        var request = new HttpRequestMessage(method: HttpMethod.Get, requestUri: "/TemperatureReading");

        // Send the request and wait for response
        HttpResponseMessage response = await client.SendAsync(request);  
 
        if(response.StatusCode == HttpStatusCode.OK)
        {
            // Read the response string if request was succesful
            result = await response.Content.ReadAsStringAsync();
        }
    }
    catch (System.Exception e)
    {
        WriteLine(e.Message);
        WriteLine(e.StackTrace);
    }    

    if (!string.IsNullOrEmpty(result))
    {
        // Display the string if it was returned from the API
        <h6 class="small">@result</h6>
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div id="alert" class="alert alert-primary" role="alert">
  This is a primary alert—check it out!
</div>


<script src="~/lib/signalr/signalr.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/signalrClient.js"></script>


